@import "tailwindcss";

@theme {
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-200: #a7f3d0;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
  --color-emerald-900: #064e3b;
  --color-emerald-950: #022c22;

  --color-teal-300: #5eead4;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;

  --color-cyan-300: #67e8f9;
  --color-cyan-400: #22d3ee;
  --color-cyan-600: #0891b2;
  --color-cyan-700: #0e7490;

  --color-indigo-400: #818cf8;
  --color-indigo-800: #3730a3;
  --color-indigo-900: #312e81;

  --color-amber-200: #fef08a;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;

  --color-rose-300: #fca5a5;
  --color-rose-400: #fb7185;
  --color-rose-800: #9f1239;
  --color-rose-900: #881337;

  --color-sky-400: #38bdf8;
  --color-purple-500: #a855f7;
}

@layer base {
  body {
    background-color: #020617;
    color: #f8fafc;
  }
}
